In [1]:
import pandas as pd
import numpy as np

In [23]:
data_frame=pd.read_csv('non_null_data.csv')

/var/folders/4b/082wp8yj1vdb15yd5756bphm0000gn/T/ipykernel_58219/1951213587.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frame=pd.read_csv('non_null_data.csv')

In [24]:
data_frame.head()

,ID,Case Number,Date,Block,IUCR,Latitude,Longitude,Primary Type,Description,Arrest,Domestic,Beat,Year,Updated On,nd2,address,District Name,n_lat,n_lon
0,5741943,HN549294,08/25/2007 09:22:18 AM,074XX N ROGERS AVE,0560,NaN,NaN,ASSAULT,SIMPLE,False,False,2422,2007,08/17/2015 03:03:40 PM,24.0,"074 N ROGERS AVE, Rogers Park, Chicago, Illinois",Rogers Park,44.129630,-79.5071
1,25953,JE240540,05/24/2021 03:06:00 PM,020XX N LARAMIE AVE,0110,41.917838,-87.755969,HOMICIDE,FIRST DEGREE MURDER,True,False,2515,2021,11/18/2023 03:39:49 PM,25.0,"020 N LARAMIE AVE, Grand Central, Chicago, Ill...",Grand Central,41.917838,-87.755969
2,26038,JE279849,06/26/2021 09:24:00 AM,062XX N MC CORMICK RD,0110,41.995219,-87.713355,HOMICIDE,FIRST DEGREE MURDER,True,False,1711,2021,11/18/2023 03:39:49 PM,17.0,"062 N MC CORMICK RD, Albany Park, Chicago, Ill...",Albany Park,41.995219,-87.713355
3,13279676,JG507211,11/09/2023 07:30:00 AM,019XX W BYRON ST,0620,41.952345,-87.677975,BURGLARY,UNLAWFUL ENTRY,False,False,1922,2023,11/18/2023 03:39:49 PM,19.0,"019 W BYRON ST, Town Hall, Chicago, Illinois",Town Hall,41.952345,-87.677975
4,13274752,JG501049,11/12/2023 07:59:00 AM,086XX S COTTAGE GROVE AVE,0454,41.737751,-87.604856,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",True,False,632,2023,12/09/2023 03:41:24 PM,6.0,"086 S COTTAGE GROVE AVE, Gresham, Chicago, Ill...",Gresham,41.737751,-87.604856

In [25]:
data_frame.isnull().sum()

ID                   0
Case Number          0
Date                 0
Block                0
IUCR                 0
Latitude         87847
Longitude        87847
Primary Type         0
Description          0
Arrest               0
Domestic             0
Beat                 0
Year                 0
Updated On           0
nd2                  0
address            254
District Name      254
n_lat                4
n_lon                4
dtype: int64

In [27]:
final_data=data_frame[data_frame['n_lat'].isnull()==False]

In [32]:
final_data[final_data['n_lon']==' -87.7711209)']

,ID,Case Number,Date,Block,IUCR,Latitude,Longitude,Primary Type,Description,Arrest,Domestic,Beat,Year,Updated On,nd2,address,District Name,n_lat,n_lon
71388,13305893,JG538665,01/04/2019 04:40:00 PM,059XX W fillmore st,1153,NaN,NaN,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,False,1513,2019,12/13/2023 03:41:38 PM,15.0,"059 W fillmore st, Austin, Chicago, Illinois",Austin,41.867339,-87.7711209)

In [45]:
final_data['n_lon']=final_data['n_lon'].astype(str).str.replace(')','').str.replace('(','').astype(float)
final_data['n_lat']=final_data['n_lat'].astype(str).str.replace(')','').str.replace('(','').astype(float)

/var/folders/4b/082wp8yj1vdb15yd5756bphm0000gn/T/ipykernel_58219/1284221183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['n_lon']=final_data['n_lon'].astype(str).str.replace(')','').str.replace('(','').astype(float)
/var/folders/4b/082wp8yj1vdb15yd5756bphm0000gn/T/ipykernel_58219/1284221183.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['n_lat']=final_data['n_lat'].astype(str).str.replace(')','').str.replace('(','').astype(float)

In [46]:
final_data.isnull().sum()

ID                   0
Case Number          0
Date                 0
Block                0
IUCR                 0
Latitude         87843
Longitude        87843
Primary Type         0
Description          0
Arrest               0
Domestic             0
Beat                 0
Year                 0
Updated On           0
nd2                  0
address            254
District Name      254
n_lat                0
n_lon                0
dtype: int64

In [63]:
clean_data=final_data[(final_data['n_lon']<-85.0)&(final_data['n_lon']>-93)&(final_data['n_lat']>25)&(final_data['n_lat']<45)].sort_values('n_lat',ascending=False)

In [64]:
clean_df=clean_data.drop(['Latitude','Longitude','address'],axis=1)

In [67]:
clean_df['District Name']=clean_df['District Name'].fillna('Unknown')

In [68]:
clean_df.isnull().sum()

ID               0
Case Number      0
Date             0
Block            0
IUCR             0
Primary Type     0
Description      0
Arrest           0
Domestic         0
Beat             0
Year             0
Updated On       0
nd2              0
District Name    0
n_lat            0
n_lon            0
dtype: int64

In [69]:
clean_df.to_csv('clean_data.csv',index=False)