In [53]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
data_frame=pd.read_csv('data.csv')

In [5]:
data_frame.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,5741943,HN549294,08/25/2007 09:22:18 AM,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,...,49.0,1.0,08A,NaN,NaN,2007,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,25953,JE240540,05/24/2021 03:06:00 PM,020XX N LARAMIE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,36.0,19.0,01A,1141387.0,1913179.0,2021,11/18/2023 03:39:49 PM,41.917838,-87.755969,"(41.917838056, -87.755968972)"
2,26038,JE279849,06/26/2021 09:24:00 AM,062XX N MC CORMICK RD,0110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,50.0,13.0,01A,1152781.0,1941458.0,2021,11/18/2023 03:39:49 PM,41.995219,-87.713355,"(41.995219444, -87.713354912)"
3,13279676,JG507211,11/09/2023 07:30:00 AM,019XX W BYRON ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,47.0,5.0,05,1162518.0,1925906.0,2023,11/18/2023 03:39:49 PM,41.952345,-87.677975,"(41.952345086, -87.677975059)"
4,13274752,JG501049,11/12/2023 07:59:00 AM,086XX S COTTAGE GROVE AVE,0454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,6.0,44.0,08B,1183071.0,1847869.0,2023,12/09/2023 03:41:24 PM,41.737751,-87.604856,"(41.737750767, -87.604855911)"

In [24]:
#getting the null value count in the dataset
null_count=data_frame.isnull().sum()
null_per=data_frame.isnull().sum().values/len(data_frame)*100
null_count_df=pd.DataFrame({'Null count':null_count,
                            'Null percentage(%)':null_per,
                           'dtypes':data_frame.dtypes},index=data_frame.columns)

In [25]:
null_count_df.sort_values('Null percentage(%)')

                      Null count  Null percentage(%)   dtypes
ID                             0            0.000000    int64
Updated On                     0            0.000000   object
Year                           0            0.000000    int64
FBI Code                       0            0.000000   object
Domestic                       0            0.000000     bool
Arrest                         0            0.000000     bool
Beat                           0            0.000000    int64
Primary Type                   0            0.000000   object
IUCR                           0            0.000000   object
Block                          0            0.000000   object
Date                           0            0.000000   object
Case Number                    0            0.000000   object
Description                    0            0.000000   object
District                      47            0.000589  float64
Location Description       12364            0.154904   object
Longitude                  87847            1.100604  float64
X Coordinate               87847            1.100604  float64
Y Coordinate               87847            1.100604  float64
Latitude                   87847            1.100604  float64
Location                   87847            1.100604   object
Community Area            613479            7.686059  float64
Ward                      614854            7.703286  float64

In [29]:
data_frame['Block'].str.split(' ').str[1:]

0                  [N, ROGERS, AVE]
1                 [N, LARAMIE, AVE]
2              [N, MC, CORMICK, RD]
3                    [W, BYRON, ST]
4          [S, COTTAGE, GROVE, AVE]
                     ...
7981706          [N, JEFFERSON, ST]
7981707               [W, 95TH, ST]
7981708             [S, AVERS, AVE]
7981709       [S, SOUTH, SHORE, DR]
7981710              [S, WELLS, ST]
Name: Block, Length: 7981711, dtype: object

In [30]:
len(data_frame['Block'].unique())

63623

In [36]:
data_frame['street_names']=data_frame['Block'].str.split(' ').str[1:].str.join(' ')

In [38]:
len(data_frame['street_names'].unique())

5766

In [39]:
#Replacing null values in distrcit

In [40]:
#check whether a street exists in more than one district

In [42]:
len(data_frame['District'].unique())

25

In [45]:
data_frame.groupby('District')['street_names'].count()

District
1.0     325395
2.0     378581
3.0     404579
4.0     453110
5.0     352932
6.0     466804
7.0     458369
8.0     535954
9.0     389275
10.0    343741
11.0    510698
12.0    397481
14.0    308357
15.0    339953
16.0    267740
17.0    230554
18.0    359266
19.0    359872
20.0    141804
21.0         4
22.0    261135
24.0    242270
25.0    453540
31.0       250
Name: street_names, dtype: int64

In [50]:
gb1=pd.DataFrame(data_frame.groupby('street_names')['District'].count())

In [59]:
gb1[gb1['District']>1].sort_values('District')

                               District
street_names
 UNKNOWN                              2
W 21st ST                             2
W 21st St                             2
E 69th pl                             2
N WATERSIDE DR                        2
...                                 ...
S DR MARTIN LUTHER KING JR DR     66556
W MADISON ST                      70971
S HALSTED ST                      71246
S MICHIGAN AVE                    77407
S STATE ST                        92576

[4510 rows x 1 columns]

In [54]:
d_null_data=data_frame[data_frame['District'].isnull()]

In [65]:
len(data_frame[data_frame['Location'].isin(list(d_null_data['Location'].values))]['District'].unique())

20